
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.body{
    font-family: 'Lato', sans-serif;
    position: relative;
    
}
.body__wrapper{
    margin: 0;
}



*,
*::before,
*::after{
    box-sizing: border-box;
}


.header{
    position: sticky   ;
    width: auto;
    top:0;
    left: 0;
    right: 0;
    height: auto;
    letter-spacing: 2px;
    color: #252525;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}



.container
{
    font-family: 'Lato', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    
}

.menu-block{
    display: flex;
    height: 70px;
    margin-bottom: 5px;
    z-index: 20;

}

.menu-block__inner{
    list-style-type:none;
    height: 100%;
    align-items: center;
    width: auto;
    text-align: center;
    padding: 0px 15px 0 15px;
}
.logo{
    padding-left: 15px;
    font-size: 55px;
    font-weight: 800;
    padding-right: 30px;
    text-decoration: none;
    color: #252525;
    justify-self: center;
}


.floornav{
    display: flex;
    margin: 0;
    padding:0px;
    
}

.floor-link{
    text-decoration: none;
    font-size: 30px;
    line-height: 70px;
    color: #252525;
    
    
}
.searhc{
    padding: 11px 15px 11px 30px;
    width: 100%;
    
}
.searhc-form{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.search-form__input{
    height: 100%;
    width: 100%;
    border: rgb(0, 0, 0) 4px solid;
    border-radius: 19px/50%;
    font-size: 25px;
    outline: none;
    
}


.menu-block__icons{
    align-content: center;
    display: flex;
    padding-left: 15px;
    
}
.icons-link{
    text-align: center;
    position: relative;
    width: 16px;
    height: 1.25rem;
    width: 60px;
    height: 100%; 
    padding-top: 12px;
}


.icons-link_item__icon{
        
        display: inline-block;
        width: 44px;
        height: 44px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
}
.icon-kind_reg{
    background-image: url("/application//core/images/account.png");
}
.icon-kind_favorite{
    background-image: url("/application//core/images/love.png");
}
.icon-kind_buy{
    background-image: url("/application//core/images/shopping-bag.png");
}

.floor-link__size{
    font-size: 20px;
    font-weight: 700;
}
.floor-link__active:hover{
    opacity: 0.8;
}


/* MAIN CONT */

.main{
    margin: 0;
}

.main_content{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 20px;
    flex-direction: column;

}

.container1{
    display: flex;
    padding: 2.4rem;
}

.container_items{
    width: 100%;
    position: relative;
    
    
}
.wrap{
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    background: url("/application/core/images/96abddf5b32a62136c04f8c49229e562.jpg");
  background-size: cover;
}

.items__p{
    display: flex;
    align-items: center
}
.calc{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.calc_link{
    text-decoration: none;
    color: #000000;
    font-size: 65px;
}
.calc_link__active:hover{
opacity: 0.6;
}
/* Registration page */



.reg_body{
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    font-family: 'Montserrat', sans-serif; 
    
}

.reg_wrapper__line{
    border: 1px #000000 solid;
    
}

.header_reg__title
{
    text-align: center;
    padding: 64px 0 25px 1px;
    margin: 0;

}
.header_reg__title{
text-decoration: none;
color: #000000;
}


/* MAIN registration page */

.reg_content{
    margin-right:auto;
    margin-left: auto;
    background-color: #fff;
    border-radius:8px;
    position: relative;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    
}
.reg_opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 74, 255);
    opacity: 0.3;
    z-index: 0;
    top:0;
}


/*  siginIN AND signUP-option MAIN registration page */
/*-----------------------------------------------------*/
.info_center{
text-align: center;
padding: 0 25px 10px;
margin-bottom: 30px;
overflow: auto;

}

.siginin_option{
    letter-spacing: 2px;
    padding: 25px 0 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    overflow:auto;
}
/* SIGN UP AND SIGN IN*/

/* SIGN UP*/

.title_signup{
    padding: 20px 0 20px;
    width: 50%; 
    float: left;
    position: relative;
}
.bord{
    border-bottom: 2px solid #50055f;
}
.title_signup ::after {
    content: " ";
    height: 25px;
    width: 2px;
    position: absolute;
    right: 0px;
    top: 14px;
    background: #000000;
    opacity: .3;

}

.sign_item__link{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
}

.sign_item__link:hover{
    opacity: 0.5;
}
/* SIGN IN*/

.title_signin{
    padding: 20px 0 20px;
    width: 50%; 
    float: right;
}
.sign_item__link{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
    
}
.sign_item__link:hover{
    opacity: 0.5;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(94, 93, 93);
    clear: both;
}
/*-----------------------------------------------------------*/
/* REGISTER FORM  */
.register_form{
    
    padding: 0 0 20px 0;
    width: 100%;
    
}

.form-size{
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}
.field{
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    position: relative;
    width: 100%;

}
.field_item__labal{

    text-align: left;
    width: 100%;
    margin: 0 0 15px 0;
    min-width: 20%;
    float: left;
    clear: both;
    color: #5c5c5c; 
    font-weight: 600; 
    text-transform: uppercase;
}
.field_item__input{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .3px;
}

.signin-button{

    margin: 50px 0 0 0;
    text-align: center;
    
}


.signin-button__input{
    text-decoration: none;
    border: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #50055f;
    height: 46px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: .3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 5px 30px 5px 30px;

}
.signin-button__input:hover{
    opacity: 0.3;
}

/* Profile */

.profile__wrapper
{
    display: flex;
}

.profile-info{
width: 33%;
height: auto;
background-color: #e0e0e0;
}
.profile-info__inner{
    margin: 20px;
    font-size: 14px;
}
.profile-block{
    margin: 20px;
}
.profile-hello{
    margin-left: 20px;
    width: 66%;
    height: auto;
    background: url("/images/96abddf5b32a62136c04f8c49229e562.jpg")
    
}
/*FOOTER*/
.footer{
    width: 100%;
    height: 65px;
    background-color: #262626;
}



/*CALC*/
.calc-wrapper{
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calc-inner{
    display: flex;
    width: 220px;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: #5c5c5c;
    padding-bottom: 5px;
}
.button-calc{
width: 50px;
height: 50px;
background-color: #fff;
border: none;
}
.button-calc__active:hover{
    opacity: 0.8;

}
.textview{
    height: 40px;
    width: 210px;
    background-color: #fff;
    border-top: 6px solid #5c5c5c;

}
/* TASK */

.formtask{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.input-task{
    margin: 0 20px;
}
.button-task{
    height: 50px;
    width: 50px;
    background-color: #fff;
    box-shadow: 3px 4px 22px 0px rgba(0, 0, 0, 0.30);
}

/* POST */
.post_wrapper{
    width: 100%;
    overflow: hidden;
}
.post_inner{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post_img__wrapper{
    position: relative;
    font-size: 0;
    margin-bottom: 9px;
    background-color: #eee;
    display: block;

}
.post_img__wrapper::before{
    content: "";
    display: block;
    width: 100%;
    position: relaative;
    padding-top: 127.333333%;
}
.post_img{
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.post{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: calc(30%);
    margin: 12px 3px 3px 12px;

}

.post_link{
 text-decoration: none;
 color: #262626;
}

.post_name{
    text-align: center;
    font-size: 12px;
    
    margin: 0;
    padding: 0;
}
.post_cost{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.post_name__desc{
    height: 44px;
    margin: 10px;
    padding: 10px;
}





/* MEDIA _____________________________________*/

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
   

}
@media (max-width: 1024px) {
    .container{
        max-width: 950px;
    }
    .adaptive__none{
        display:none;
    }

    @media (max-width: 860px) {
        .container{
            max-width: 790px;
        }
        .floor-link{
            display:none;
        }
    }
}